@page
@model Web.Pages.Karnet.IndexModel

@using Infrastructure.Identity;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> SignInManager;

@{
    ViewData["Title"] = "Karnet";
}
    
        @if (Model.MembershipViewModel.IsFound)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Typ karnetu</th>
                        <th>Opis karnetu</th>
                        <th>Cena</th>
                        <th>Data zakupu</th>
                        <th>Data zakończenia karnetu</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.MembershipViewModel.MembershipIndexItem.PlanType</td>
                        <td>@Model.MembershipViewModel.MembershipIndexItem.PlanDescription</td>
                        <td>@Model.MembershipViewModel.MembershipIndexItem.Price</td>
                        <td>@Model.MembershipViewModel.MembershipIndexItem.StartDate.ToString("yyyy-MM-dd")</td> <!-- Format date as needed -->
                        <td>@Model.MembershipViewModel.MembershipIndexItem.EndDate.ToString("yyyy-MM-dd")</td>   <!-- Format date as needed -->
                        <td>@Model.MembershipViewModel.MembershipIndexItem.Status</td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <div class="text-center">
                <h4 class="display-8">Nie posiadasz żadnych karnetów.</h4>
                <a class="btn btn-primary" href="/Karnet/Kup">Kup Karnet</a>
            </div>
        }
   
