@using Web.ViewModels.Calendar.Client.TrainingsHistory
@model ClientTrainingsHistoryIndividualTrainingItemViewModel

<div class="training-card individual-training-card" data-bs-toggle="modal" data-bs-target="#individualTrainingModal_@Model.Id">
    <strong>@Model.TrainerName @Model.TrainerSurname</strong>
    <p>@Model.Date.ToString("HH:mm")</p>
</div>

<!-- Individual Training Modal -->
<div class="modal fade" id="individualTrainingModal_@Model.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabelEdit_@Model.Id" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center w-100">
                <h5 class="modal-title" id="staticBackdropLabelEdit_@Model.Id">Trening indywiudalny</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p><strong>Trener: </strong>@Model.TrainerName @Model.TrainerSurname</p>
                <p><strong>Czas: </strong>@Model.Date.ToString("HH:mm") - @Model.Date.Add(Model.Duration).ToString("HH:mm")</p>
                <p><strong>Opis: </strong>@Model.Description</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

