@page
@model Web.Pages.Trener.Grupowy.HarmonogramZajec.IndexModel
@{
    var daysOfWeek = new[] { "Ndz", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob" };
    ViewData["Title"] = "Harmonogram";
}

<head>
    <link rel="stylesheet" href="~/css/calendar.css" />
    <script src="~/js/calendar.js"></script>
</head>

<div class="container my-5">
    <div class="row align-items-center">
        @if (Model.CurrentMonth != DateTime.Now.Month || Model.CurrentYear != DateTime.Now.Year)
        {
            <div class="col-auto">
                <form method="post" asp-page-handler="Previous">
                    <button type="submit" class="btn btn-primary">
                        &larr;
                    </button>
                </form>
            </div>
        }

        <div class="col text-center">
            <h3>Harmonogram Twoich zajęć @Model.CurrentMonth/@Model.CurrentYear</h3>
        </div>

        <div class="col-auto">
            <form method="post" asp-page-handler="Next">
                <button type="submit" class="btn btn-primary">
                    &rarr;
                </button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-bordered text-center calendar-table">
            <thead>
                <tr>
                    @foreach (var day in daysOfWeek)
                    {
                        <th>@day</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)  // 6 rows for a month (max)
                {
                    <tr>
                        @for (int j = 0; j < 7; j++)  // 7 columns for the days
                        {
                            var index = i * 7 + j;
                            var day = index < Model.IndexViewModel.DaysInMonth.Count ? Model.IndexViewModel.DaysInMonth[index] : null;
                            <td class="calendar-day position-relative">
                                @if (day != null)
                                {
                                    <span>@day.Day</span>

                                    @if (day.Date >= DateTime.Now)
                                    {
                                        <button class="btn btn-sm btn-primary position-absolute top-0 end-0 m-1 p-0"
                                                style="width: 20px; height: 20px; border-radius: 10%; font-size: 14px;"
                                                data-bs-toggle="modal"
                                                data-bs-target="#createTrainingModal"
                                                data-day="@day.Date">
                                            &plus;
                                        </button>
                                    }

                                    @if (day.Trainings.Any())
                                    {
                                        <div class="training-cards">
                                            @if (day.Trainings.Count >= 3)
                                            {
                                                <!-- Powyżej 3 treningów -->
                                                <div class="card">
                                                    <button class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#trainingsModal_@day.Day">
                                                        Treningi
                                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                            @day.Trainings.Count
                                                            <span class="visually-hidden">unread messages</span>
                                                        </span>
                                                    </button>
                                                </div>

                                                <!-- Wyświetlenie treningów -->
                                                <div class="modal fade" id="trainingsModal_@day.Day" tabindex="-1" aria-labelledby="trainingsModalLabel_@day.Day" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="trainingsModalLabel_@day.Day">Treningi w dniu @day.Date.Value.ToString("dd-MM-yyyy")</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                @foreach (var training in day.Trainings)
                                                                {
                                                                    <partial name="_groupTraining" for="@training" />
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                @foreach (var training in day.Trainings)
                                                {
                                                    <partial name="_groupTraining" for="@training" />
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Legend -->
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="d-flex align-items-center me-4">
                <div class="legend-ellipse me-2" style="background-color: #ffcccc;"></div>
                <span>Trening pełny</span>
            </div>
            <div class="d-flex align-items-center me-4">
                <div class="legend-ellipse me-2" style="background-color: #6bc96e;"></div>
                <span>Trening niepełny</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="legend-ellipse me-2" style="background-color: #bab8b1;"></div>
                <span>Trening odbyty</span>
            </div>
        </div>
    </div>

    <!-- Instructions -->
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h5></h5>
            <ul class="list-unstyled">
                <li>• Aby dodać trening, kliknij na przycisk z plusem w dniu w kalendarzu.</li>
                <li>• Aby edytować lub usunąć trening, kliknij na kafelek treningu w kalendarzu.</li>
            </ul>
        </div>
    </div>
</div>
