@page
@model Web.Pages.Menadzer.HarmonogramPracy.IndexModel
@{
    var daysOfWeek = new[] { "Ndz", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob" };
    ViewData["Title"] = "Harmonogram";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}

<head>
    <link rel="stylesheet" href="~/css/calendar.css" />
    <script src="~/js/workSchedule.js"></script>
</head>

<div class="container my-5">
    <div class="row align-items-center">
        @if (Model.CurrentYear > DateTime.Now.Year ||
        (Model.CurrentYear == DateTime.Now.Year && Model.CurrentMonth > DateTime.Now.Month))
        {
            <div class="col-auto">
                <form method="post" asp-page-handler="Previous">
                    <button type="submit" class="btn btn-primary">
                        &larr;
                    </button>
                </form>
            </div>
        }

        <div class="col text-center">
            <h3>Harmonogram pracy @Model.CurrentMonth/@Model.CurrentYear</h3>
        </div>

        <div class="col-auto">
            <form method="post" asp-page-handler="Next">
                <button type="submit" class="btn btn-primary">
                    &rarr;
                </button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-bordered text-center calendar-table">
            <thead>
                <tr>
                    @foreach (var day in daysOfWeek)
                    {
                        <th>@day</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)  // 6 rows for a month (max)
                {
                    <tr>
                        @for (int j = 0; j < 7; j++)  // 7 columns for the days
                        {
                            var index = i * 7 + j;
                            var day = index < Model.IndexViewModel.DaysInMonth.Count ? Model.IndexViewModel.DaysInMonth[index] : null;
                            <td class="calendar-day position-relative">
                                @if (day != null)
                                {
                                    <span>@day.Day</span>

                                    @if (day.Date > DateTime.Now)
                                    {
                                        <button class="btn btn-sm btn-primary position-absolute top-0 end-0 m-1 p-0"
                                                style="width: 20px; height: 20px; border-radius: 10%; font-size: 14px;"
                                                data-bs-toggle="modal"
                                                data-bs-target="#createShiftModal"
                                                data-day="@day.Date">
                                            &plus;
                                        </button>
                                    }

                                    @if (day.Shifts.Any())
                                    {
                                        <div class="shift-cards">
                                            @if (day.Shifts.Count >= 3)
                                            {
                                                <!-- Powyżej 3 zmian -->
                                                <div class="card">
                                                    <button class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#shiftsModal_@day.Day">
                                                        Zmiany
                                                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                            @day.Shifts.Count
                                                            <span class="visually-hidden">unread messages</span>
                                                        </span>
                                                    </button>
                                                </div>

                                                <!-- Wyświetlenie treningów -->
                                                <div class="modal fade" id="shiftsModal_@day.Day" tabindex="-1" aria-labelledby="shiftsModalLabel_@day.Day" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="shiftsModalLabel_@day.Day">Zmiany w dniu @day.Date.Value.ToString("dd-MM-yyyy")</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                @foreach (var shift in day.Shifts)
                                                                {
                                                                    <partial name="_shift" for="@shift" />
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                @foreach (var shift in day.Shifts)
                                                {
                                                    <partial name="_shift" for="@shift" />
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Instructions -->
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h5></h5>
            <ul class="list-unstyled">
                <li>• Aby dodać zmianę, kliknij na przycisk z plusem w dniu w kalendarzu.</li>
                <li>• Aby edytować lub usunąć zmianę, kliknij na kafelek zmiany w kalendarzu.</li>
            </ul>
        </div>
    </div>
</div>


<!-- Modal for Creating Shift -->
<div class="modal fade" id="createShiftModal" tabindex="-1" aria-labelledby="createShiftModallLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createShiftModalLabel">Dodaj zmianę w dniu <span id="modalDate"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="CreateShift">

                    <input type="hidden" id="shiftDate" name="NewShiftInputModel.Date" />

                    <div class="form-floating mb-3">
                        <input asp-for="NewShiftInputModel.StartHour" class="form-control" autocomplete="off" aria-required="true" placeholder="Godzina" type="time" min="07:00" max="20:00" />
                        <label asp-for="NewShiftInputModel.StartHour">Godzina rozpoczęcia</label>
                        <span asp-validation-for="NewShiftInputModel.StartHour" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="NewShiftInputModel.EndHour" class="form-control" autocomplete="off" aria-required="true" placeholder="Godzina" type="time" min="10:00" max="23:00" />
                        <label asp-for="NewShiftInputModel.EndHour">Godzina zakończenia</label>
                        <span asp-validation-for="NewShiftInputModel.EndHour" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select asp-for="NewShiftInputModel.ReceptionistId" class="form-select">
                            <option value="">-- Wybierz recepcjonistę --</option>
                            @foreach (var receptionist in Model.IndexViewModel.Receptionists)
                            {
                                <option value="@receptionist.Id">@receptionist.Name</option>
                            }
                        </select>
                        <label asp-for="NewShiftInputModel.ReceptionistId">Recepcjonista</label>
                        <span asp-validation-for="NewShiftInputModel.ReceptionistId" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success">Zapisz zmianę</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>
