@page
@model Web.Pages.Trener.Personalny.HarmonogramZajec.IndexModel
@{
    var daysOfWeek = new[] { "Ndz", "Pon", "Wt", "Śr", "Czw", "Pt", "Sob" };
    ViewData["Title"] = "Harmonogram";
}

<head>
    <link rel="stylesheet" href="~/css/calendar.css" />
    <script src="~/js/calendar.js"></script>
</head>

<div class="container my-5">
    <div class="row align-items-center">
        @if (Model.CurrentYear > DateTime.Now.Year ||
            (Model.CurrentYear == DateTime.Now.Year && Model.CurrentMonth > DateTime.Now.Month))
        {
            <div class="col-auto">
                <form method="post" asp-page-handler="Previous">
                    <button type="submit" class="btn btn-primary" >
                        &larr;
                    </button>
                </form>
            </div>
        }

        <div class="col text-center">
            <h3>Harmonogram Twoich zajęć @Model.CurrentMonth/@Model.CurrentYear</h3>
        </div>

        <div class="col-auto">
            <form method="post" asp-page-handler="Next">
                <button type="submit" class="btn btn-primary" >
                    &rarr;
                </button>
            </form>
        </div>
    </div>

    <div class="row justify-content-center">
        <table class="table table-bordered text-center calendar-table">
            <thead>
                <tr>
                    @foreach (var day in daysOfWeek)
                    {
                        <th>@day</th>
                    }
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < 6; i++)  // 6 rows for a month (max)
                {
                    <tr>
                        @for (int j = 0; j < 7; j++)  // 7 columns for the days
                        {
                            var index = i * 7 + j;
                            var day = index < Model.IndexViewModel.DaysInMonth.Count ? Model.IndexViewModel.DaysInMonth[index] : null;
                            <td class="calendar-day position-relative">
                                @if (day != null)
                                {
                                    <span>@day.Day</span>

                                    @if(day.Date >= DateTime.Now)
                                    {
                                        <button class="btn btn-sm btn-primary position-absolute top-0 end-0 m-1 p-0"
                                                style="width: 20px; height: 20px; border-radius: 10%; font-size: 14px;"
                                                data-bs-toggle="modal"
                                                data-bs-target="#createTrainingModal"
                                                data-day="@day.Date">
                                            &plus;
                                        </button>
                                    }

                                    @if (day.Trainings.Any())
                                    {
                                        <div class="training-cards">
                                            @if (day.Trainings.Count >= 3)
                                            {
                                                <!-- Powyżej 3 treningów -->
                                                <div class="card">
                                                        <button class="btn btn-primary btn-sm w-100" data-bs-toggle="modal" data-bs-target="#trainingsModal_@day.Day">
                                                            Treningi
                                                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                                                    @day.Trainings.Count
                                                                    <span class="visually-hidden">unread messages</span>
                                                                </span>
                                                        </button>
                                                </div>

                                                <!-- Wyświetlenie treningów -->
                                                <div class="modal fade" id="trainingsModal_@day.Day" tabindex="-1" aria-labelledby="trainingsModalLabel_@day.Day" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="trainingsModalLabel_@day.Day">Treningi w dniu @day.Date.Value.ToString("dd-MM-yyyy")</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                @foreach (var training in day.Trainings)
                                                                {
                                                                    <partial name="_individualTraining" for="@training" />
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                @foreach (var training in day.Trainings)
                                                {
                                                    <partial name="_individualTraining" for="@training" />
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <!-- Legend -->
    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="d-flex align-items-center me-4">
                <div class="legend-ellipse me-2" style="background-color: #ffcccc;"></div>
                <span>Trening zarezerwowany</span>
            </div>
            <div class="d-flex align-items-center me-4">
                <div class="legend-ellipse me-2" style="background-color: #6bc96e;"></div>
                <span>Trening niezarezerwowany</span>
            </div>
            <div class="d-flex align-items-center">
                <div class="legend-ellipse me-2" style="background-color: #bab8b1;"></div>
                <span>Trening odbyty</span>
            </div>
        </div>
    </div>

    <!-- Instructions -->
    <div class="row mt-3">
        <div class="col-12 text-center">
            <h5></h5>
            <ul class="list-unstyled">
                <li>• Aby dodać trening, kliknij na przycisk z plusem w dniu w kalendarzu.</li>
                <li>• Aby edytować lub usunąć trening, kliknij na kafelek treningu w kalendarzu.</li>
            </ul>
        </div>
    </div>
</div>

<!-- Modal for Creating Training -->
<div class="modal fade" id="createTrainingModal" tabindex="-1" aria-labelledby="createTrainingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTrainingModalLabel">Dodaj trening w dniu <span id="modalDate"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-page-handler="CreateTraining">

                    <input type="hidden" id="TrainingDate" name="NewTrainingInputModel.Date" />

                    <div class="form-floating mb-3">
                        <input asp-for="NewTrainingInputModel.Hour" class="form-control" autocomplete="off" aria-required="true" placeholder="Godzina" type="time" />
                        <label asp-for="NewTrainingInputModel.Hour">Godzina</label>
                        <span asp-validation-for="NewTrainingInputModel.Hour" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="NewTrainingInputModel.Duration" class="form-control" autocomplete="off" aria-required="true" placeholder="Czas trwania" type="time" />
                        <label asp-for="NewTrainingInputModel.Duration">Czas trwania</label>
                        <span asp-validation-for="NewTrainingInputModel.Duration" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="NewTrainingInputModel.Description" class="form-control" autocomplete="off" placeholder="Opis" />
                        <label asp-for="NewTrainingInputModel.Description">Opis</label>
                        <span asp-validation-for="NewTrainingInputModel.Description" class="text-danger"></span>
                    </div>

                    <div class="form-check mb-3">
                        <input id="IsCyclic" asp-for="NewTrainingInputModel.IsCyclic" class="form-check-input" type="checkbox" />
                        <label class="form-check-label" for="IsCyclic">
                            Czy cykliczny?
                        </label>
                    </div>

                    <div id="RepeatabilityOptions" class="form-check mb-3" style="display: none;">
                        <label>Powtarzalność:</label><br />
                        <input type="radio" asp-for="NewTrainingInputModel.Repeatability" value="everyday" id="daily" />
                        <label for="daily">Codziennie</label><br />
                        <input type="radio" asp-for="NewTrainingInputModel.Repeatability" value="everyWeek" id="weekly" />
                        <label for="weekly">Co tydzień</label><br />
                        <input type="radio" asp-for="NewTrainingInputModel.Repeatability" value="everyMonth" id="monthly" />
                        <label for="monthly">Co miesiąc</label><br />
                        <span asp-validation-for="NewTrainingInputModel.Repeatability" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-success">Zapisz trening</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
            </div>
        </div>
    </div>
</div>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="serverToast" class="toast align-items-center text-bg-@TempData["ToastType"] text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @TempData["ToastMessage"]
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

@if (TempData["ToastMessage"] != null)
{
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var toastElement = document.getElementById('serverToast');
            var toast = new bootstrap.Toast(toastElement);
            toast.show();
        });
    </script>
}